@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
  background: #2D3142;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    padding: 70px 0 0 0;
    color: #EF8354;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  span {
    border: 2px solid #4F5D75;
    padding: 10px;
  }

.container {
    width: 100%;
    margin-top: 70px;
}

