<!DOCTYPE html>
<head>
    <title>Very simple memcache</title>
</head>
<html>
    <body>

        <form action="{{ url_for('get')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <input type="submit" value="get" />
        </form>

        <form action="{{ url_for('put')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <label>value:</label>
            <input type="text" name="value" />
            <input type="submit" value="put" />
        </form>

        <form action="{{ url_for('clear')}}" method="post">
            <label>clear</label>
            <input type="submit" value="clear" />
        </form>

        <form action="{{ url_for('invalidate')}}" method="post">
            <label>key</label>
            <input type="text" name="key" />
            <input type="submit" value="invalidate" />
        </form>

        <form action="{{ url_for('mem')}}" method="post">
            <label>size</label>
            <input type="submit" value="size" />
        </form>

        <form action="{{ url_for('stat')}}" method="get">
            <label>stat</label>
            <input type="submit" value="stat" />
        </form>

        <form action="{{ url_for('refreshConfiguration')}}" method="post">
            <label>configReset</label>
            <input type="submit" value="config" />
        </form>

    </body>
</html>