<html>
    <head>
        <title>File Upload</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/fileploadpage.css">
        <script>
            function show_file_name(e){
                var filename=e.value;
                var lastIndex =filename.lastIndexOf("\\");
                if (lastIndex >= 0) {
                    filename = filename.substring(lastIndex + 1);
                }
                document.getElementById('file-name').innerHTML =  'You have chosen: ' + filename;
            }
        </script>
    </head>
    <body>
        <h1><span>Image</span> Upload </h1>
        <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
            
            <label id="key_label">Enter your key:</label>
            <input type="string" name="file_key" id="file_key" placeholder="Please enter a unique key for your file"><br>
            
            <label class="button" id="button-select" for="uploadedimage"> 
                <div id="select-circle"></div>
                <input  onchange="show_file_name(this)" type="file" name="uploadedimage" id="uploadedimage" multiple accept="image/jpg, image/jpeg">
                Select Photo
            </label>
            <br>

            <div class="preview">
                <p id="file-name">No files currently selected for upload</p>
            </div>
       
            <label class="button" id="button-select" for="submit">
                <div id="select-circle"></div>
                <input type="submit" value="Send" name="submit" id="submit">
                Upload Photo
            </label>
            <br>
        
        </form>
    </body>
</html>