{% block content %}
<html>
    <head>
        <title>Image keys</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/imagekey.css">
    </head>
    <body>
        <h1><span>Image</span> Keys </h1>
            <table class="container">
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td id="keys">{{ row[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </body>
</html>
{% endblock %}