{% block content %}
<html>
    <head>
        <title>memcache statistics</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/memcachestatistic.css">
    </head>
    <body>
        <h1><span>Mem-cache</span> Statistics </h1>
            <table class="container">
                <tbody>
                    <tr>
                        <td id="keys">request_num</td>
                        <td id="keys">item_size</td>
                        <td id="keys">item_num</td>
                        <td id="keys">miss_num</td>
                        <td id="keys">hit_num</td>
                        <td id="keys">miss_rate</td>
                        <td id="keys">hit_rate</td>
                    </tr>
                    <tr>
                        <td id="keys">{{ data['request_num']}}</td>
                        <td id="keys">{{ data['item_size']}} M </td>
                        <td id="keys">{{ data['item_num']}}</td>
                        <td id="keys">{{ data['miss_num']}}</td>
                        <td id="keys">{{ data['hit_num']}}</td>
                        <td id="keys">{{ data['miss_rate']}}</td>
                        <td id="keys">{{ data['hit_rate']}}</td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>
{% endblock %}