{% block content %}
<html>
    <head>
        <title>Mem-cache Config</title>
        <link rel= "stylesheet" type= "text/css" href="../static/styles/memcacheconfig.css">
        <script>
        </script>
            
    </head>
    <body>
        <h1><span>Mem-cache</span> Config </h1>
        <form class="container" action="{{ url_for('config_memcache') }}" method="post" enctype="multipart/form-data">
            <label id="capacity_label">Enter your new capacity (Current: {{ data[1] }} MB) :</label><br>
            <input type="integer" name="capacity" id="capacity" value="{{data[1]}}"><br>
            
            <label id="policy_label">Choose your new replace policy (Current: {{ data[2] }}):</label><br>
            <select class="custom-select" name="policy-select">
                {% if check %}
                    <option selected>Random Replacement</option>
                    <option>Least Recently Used</option>
                {% else %}
                    <option>Random Replacement</option>
                    <option selected>Least Recently Used</option>
                {% endif %}
            </select> <br>

            <label class="button" id="button-submit" for="submit">
                <div id="submit-circle"></div>
                <input type="submit" value="Send" name="submit" id="submit">
                Save
            </label>
            <br>
        
        </form>
    </body>
</html>
{% endblock %}